/* html {
    background: #fff !important;
    color: black !important;
} */

.logo {
    position: relative;
}

.logo::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 200px;
    height: 1px;
    background-color: rgb(0, 0, 0,0.6);
}


.login-character-image {
    width: 550px;
    max-width: 600px;
    min-width: 100px;
}
.register-character-image {
    width: 400px;
    max-width: 600px;
    min-width: 100px;
}


.signup__form__welcome {
    font-family: './assets/fonts/HelveticaNowDisplay-ExtBlk.otf';
}


.avatar-cover {
    border: 4px solid #FDC886;
    border-radius: 24px;
}
.username-field::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0,0.2);
    bottom: -10px;
    left: 0;
}

.register-now {
    opacity: 100% !important;
}


body {
    overflow: hidden;
}


.dashboard-left {
    width: 350px;
    position: relative;
}


.dashboard-right {
    background-color: #0b0b0b;
}


.logout-button-pd {
    padding: 10px;
}


.dashboard-logo {

    font-family: './assets/fonts/HelveticaNowDisplay-ExtBlk.otf';
    color: rgb(245, 245, 245);
    position: relative;
}

.dashboard-logo::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
    height: 70%;
    width: 5px;
    border-radius: 2px;
    background-color: orange;
}


.navbar-username {
    font-family: './assets/fonts/HelveticaNowDisplay-Black.otf';
}

.dashboard-left-userFullName {
    font-family: './assets/fonts/HelveticaNowDisplay-ExtBlk.otf';
    text-align: center;
}


.dashboard-left p::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    bottom: -6px;
    left: 0;
    background-color: #ffa500;
}


.pushable {
    background:  orange;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    font-family: './assets/fonts/HelveticaNowDisplay-Medium.otf';
    font-size: 1rem;
    font-weight: bold;
    background:  #FDC886;
    color: black;
    transform: translateY(-6px);
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }

  .dashboard-navbar {
    border-bottom: 2px solid rgb(37, 31, 24);
  }