/* html {
    background: #fff !important;
    color: black !important;
} */

.logo {
    position: relative;
}

.logo::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 200px;
    height: 1px;
    background-color: rgb(0, 0, 0,0.6);
}


.login-character-image {
    width: 400px;
    max-width: 600px;
    min-width: 100px;
}


.signup__form__welcome {
    font-family: './assets/fonts/HelveticaNowDisplay-ExtBlk.otf';
}


.avatar-cover {
    padding: 3px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 24px;
}
.username-field::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0,0.2);
    bottom: -10px;
    left: 0;
}

.register-now {
    opacity: 100% !important;
}
