.logo {
    position: relative;
}

.logo::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 200px;
    height: 1px;
    background-color: rgb(0, 0, 0, 0.6);
}


.login-character-image {
    width: 550px;
    max-width: 600px;
    min-width: 100px;
}

.register-character-image {
    width: 400px;
    max-width: 600px;
    min-width: 100px;
}


.signup__form__welcome {
    font-family: './assets/fonts/HelveticaNowDisplay-ExtBlk.otf';
}


.avatar-cover {
    border: 4px solid #FDC886;
    border-radius: 24px;
}

.username-field::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0, 0.2);
    bottom: -10px;
    left: 0;
}

.register-now {
    opacity: 100% !important;
}


body {
    /* overflow: hidden; */
}


.dashboard-left {
    width: 350px;
    position: relative;
}


.dashboard-right {
    background-color: #0b0b0b;
}


.logout-button-pd {
    padding: 10px;
}


.dashboard-logo {

    font-family: './assets/fonts/HelveticaNowDisplay-ExtBlk.otf';
    color: rgb(245, 245, 245);
    position: relative;
}

.dashboard-logo::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
    height: 70%;
    width: 5px;
    border-radius: 2px;
    background-color: orange;
}


.navbar-username {
    font-family: './assets/fonts/HelveticaNowDisplay-Black.otf';
}

.dashboard-left-userFullName {
    font-family: './assets/fonts/HelveticaNowDisplay-ExtBlk.otf';
    text-align: center;
}


.dashboard-left p::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    bottom: -6px;
    left: 0;
    background-color: #ffa500;
}


.pushable {
    background: orange;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.front {
    display: block;
    font-family: './assets/fonts/HelveticaNowDisplay-Medium.otf';
    font-size: 1rem;
    font-weight: bold;
    background: #FDC886;
    color: black;
    transform: translateY(-6px);
    will-change: transform;
    transition: transform 250ms;
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);

}

.pushable:hover .front {
    transform: translateY(-8px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}



.dashboard-navbar {
    border-bottom: 2px solid rgb(37, 31, 24);
}


.dashboard-left ul li button {
    font-family: './assets/fonts/HelveticaNowDisplay-Black.otf';
    /* font-size: 0.9rem; */
}


.dashboard-left ul li button {
    transition: height 0.3s ease;
}


.dashboard-right-header-title {
    font-family: './assets/fonts/HelveticaNowDisplay-ExtBlk.otf';
}


.dashboard-right-header-title::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
    height: 70%;
    width: 5px;
    border-radius: 2px;
    background-color: orange;
}


.modal-box h3 {
    font-family: './assets/fonts/HelveticaNowDisplay-ExtBlk.otf';
}


thead th {
    font-family: './assets/fonts/HelveticaNowDisplay-Medium.otf';
}


.project-lead,.project-title, .project-index {
    font-family: './assets/fonts/HelveticaNowDisplay-Black.otf';
}


.cheap-ambient-mode {

	background: linear-gradient(-45deg, #ea5c42, #e73c7e, #23d585, #dfbe45);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
     filter: blur(90px);
  -webkit-filter: blur(90px);
  opacity: 0.2;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.empty-project-placeholder-heading,.loader-text,.font-exBold,.lead-font-black,.paginate-buttons {
    font-family: './assets/fonts/HelveticaNowDisplay-ExtBlk.otf';
}



.font-exBold {
    color: #ffffff;
    margin-right: 3px;
    font-size: 12px;
    opacity: 0.6;
}



.avatars-list {
    width: 100%;
    max-width: 76rem;
    height: 80px;
    background: blue;
    overflow: hidden;
    display: flex;
}

.avatar-comp {
    width: 80px;
    height: 80px;
    min-width: none;
    overflow: hidden;
    background-color: red;
    margin-right: 2px;
}


.table-head-bg {
    background: #000;
}


.table-title {

    font-family: './assets/fonts/HelveticaNowDisplay-Black.otf';
}

.input-fields {
    background-color: rgb(12, 12, 12) !important;
}

.table-head {
  background-color: #0a0a0a;
  border: 2px solid rgb(255, 255, 255,0.1);
  border-radius: 20px;
  width: 80%;
  margin: 40px auto 0 auto;
  height: 80px;
  display: flex;
}



.column-name {
  color: rgb(255, 255, 255,0.8);
  font-size: 16px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: './assets/fonts/HelveticaNowDisplay-Black.otf';
}


.bug-details {
    font-family: './assets/fonts/HelveticaNowDisplay-Medium.otf';
}

.bug-details-left h1,.profile,.profile-span, .Details-box h1,.details,.details span {
    font-family: './assets/fonts/HelveticaNowDisplay-ExtBlk.otf';
}


.profile-section input,textarea {
    background-color: #0C0C0C !important;
}


.important-text-white {
    color: rgb(255, 255, 255,0.6) !important;
}