@font-face {
    font-family: './assets/fonts/HelveticaNowDisplay-ExtBlk.otf';
    src: url('./assets/fonts/HelveticaNowDisplay-ExtBlk.otf'); 
  }
@font-face {
    font-family: './assets/fonts/HelveticaNowDisplay-Black.otf';
    src: url('./assets/fonts/HelveticaNowDisplay-Black.otf'); 
  }
@font-face {
    font-family: './assets/fonts/HelveticaNowDisplay-Medium.otf';
    src: url('./assets/fonts/HelveticaNowDisplay-Medium.otf'); 
  }
@font-face {
    font-family: './assets/fonts/HelveticaNowDisplay-Hairline.otf';
    src: url('./assets/fonts/HelveticaNowDisplay-Hairline.otf'); 
  }
@font-face {
    font-family: './assets/fonts/HelveticaNowDisplay-Thin.otf';
    src: url('./assets/fonts/HelveticaNowDisplay-Thin.otf'); 
  }


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: './assets/fonts/HelveticaNowDisplay-Medium.otf';
}


.logo {
    font-family: './assets/fonts/HelveticaNowDisplay-Black.otf';
}


